*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}

body {

display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
background: url(./img/img1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color:  #2c3e50;
color: white;

}

.conteudo{

padding: 42px;
background-color:  #34495e;
border-radius: 13px;
box-shadow:  0 6px 21px rgba(0,0,0,0.4);

}

#display-tempo{

font-size: 4em;
font-family: monospace;
margin: 21px 0;
color: #ecf0f1;
border: 1px solid #7f8c8d;
padding: 11px 21px;
border-radius: 9px;
background-color:  #23313d;


}

.controles button {

padding: 11px 21px;
margin: 6px;
border: none;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
transition: background-color 0.2s;


}
#btn-iniciar {

background-color: #27ae60;
color: white;

}
#btn-parar{


background-color: #c0392b;
color: white;
}
#btn-resetar{

background-color: #bdc3c7;
color: #333;

}

#btn-iniciar:hover {

    background-color: #2ecc71;
    transform: translate(-1px);
}
#btn-parar:hover{

background-color: #e74c3c;
transform: translate(-1px);

}

#btn-resetar:hover{

background-color: #ecf0f1;
color: #000;
transform: translate(-1px);

}

.controles button{

transition: background-color 0.2 ease, transform 0.2s ease;

}